{% extends 'base.html' %}
{% block title %}All Pets{% endblock %}

{% block content %}
<div class="container-fluid m-5">
    <h1>All Pets</h1>
    <div class="row">
        {% for pet in pets %}
            {% if pet.available %}
                <div class="col-4">
                    <img class="border" src={{ pet.photo_url }} alt="profile_pic">
                    <p class="font-weight-bold"><a href="/{{ pet.id }}">{{ pet.name }}</a> is available!</p>
                </div>
            {% else %}
                <div class="col-4">
                    <img class="border" src={{ pet.photo_url }} alt="profile_pic">
                    <p class="font-weight-bold"><a href="/{{ pet.id }}">{{ pet.name }}</a></p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <form action="/add">
        <button class="btn btn-info mr-1">Add Pet</button>
    </form>
</div>
{% endblock %}